<div class="container"> 
    <div class="row">
        <div class="col">
            <div class="text-center">
                <br>
                <h1><strong>{{title}}</strong></h1>
                <p><small>{{todaydate }}</small></p>
                <hr>
                <p>{{description}}</p>
                <br>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="">
                <div class="form-group">
                    <select name="" id="" class="form-control">
                        <option *ngFor ="let month of months">{{month}}</option>
                       
                    </select>
                    <br>
                    
                </div>
            </form>
        </div>  
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">

            <!--Event-->

            <div class="form-group text-center">
                <div class="btn-group">
                    <div class="btn btn-success" (click)="setTrue()">True</div>
                    <div class="btn btn-danger" (click)="setFalse()">False</div>
                </div>
            </div>

            <br>

            <!--Pips-->

            <div class="text-center">
                <h3><strong>{{simplePipeData | uppercase}}</strong></h3>
            </div>

            <br>
            <ng-container *ngIf="isAvailable; else elseTemplate">
                <div class="alert alert-success">
                    <p><strong>Note: </strong>Yes it is available.</p>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="alert alert-danger">
                    <p><strong>Note: </strong>No it is not available.</p>
                </div>
            </ng-template>
            
        </div>
    </div>
    <div class="row">

        <app-new-comp [featureSet]="firstFeature"></app-new-comp>
        <!-- <app-new-comp [featureSet]="firstFeature"></app-new-comp>
        <app-new-comp></app-new-comp>
        <app-new-comp></app-new-comp>
        <app-new-comp></app-new-comp> -->
        <div class="col-lg-3 col-md-3">
            <div class="card">
                <div class="card-header"> 
                    Feature One
                </div>
                <div class="card-body">
                    <p>Some small feature about our project</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-sm btn-success">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card">
                <div class="card-header">
                    Feature One
                </div>
                <div class="card-body">
                    <p>Some small feature about our project</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-sm btn-success">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card">
                <div class="card-header">
                    Feature One
                </div>
                <div class="card-body">
                    <p>Some small feature about our project</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-sm btn-success">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card">
                <div class="card-header">
                    Feature One
                </div>
                <div class="card-body">
                    <p>Some small feature about our project</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-sm btn-success">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <ul class="list-group">
                <li *ngFor="let item of persondata, let i=index" class="list-group-item">{{item.name}}</li>
            </ul>
        </div>
    </div>
</div>



<router-outlet></router-outlet>
